<div>
  <p id="cOne"></p>
  <a href="/chapter/contents" class="contentLinkClass">Back to Contents</a>
  <a href="/chapter/two" class="chaptTwoLink">Go to Chapter 2</a>
  <p class="letter"></p>
</div>

<script src="js/chapters/one.js" charset="utf-8"></script>
