<div>
  <p id="cHome"></p>
  <a href="/chapter/contents" class="contentsLink">Contents Page</a>
  <span id="speech"></span>
  <span id="interim"></span>
</div>

<script src="js/home.js" charset="utf-8"></script>
