<div>
  <p id="chapterHome"></p>
  <a href="/chapter/contents" id="contentsLink">Contents Page</a>
  <span id="speech"></span>
  <span id="interim"></span>
</div>

<script src="js/chapters/home.js" charset="utf-8"></script>
