<div>
  <h1 id="cHeader"></h1>
  <p id="cOne"></p>
  <p id="cTwo"></p>
  <p id="cThree"></p>
  <p id="cFour"></p>
  <a href="/chapter/contents" class="contentLinkClass">Back to Contents</a>
  <a href="/chapter/two" class="chaptTwoLink">Go to Chapter 2</a>
  <p class="letter"></p>
</div>

<script src="js/one.js" charset="utf-8"></script>
