<div>
  <p id="contents"></p>
  <a href="/chapter/one" id="chaptOneLink">Chapter One</a>
  <a href="/chapter/two" id="chaptTwoLink">Chapter Two</a>
  <a href="/chapter/three" id="chaptThreeLink">Chapter Three</a>
  <a href="/chapter/four" id="chaptFourLink">Chapter Four</a>
  <a href="/chapter/five" id="chaptFiveLink">Chapter Five</a>
</div>

<script src="js/chapters/contents.js" charset="utf-8"></script>
