<div>
  <p id="contents"></p>
  <p id="contents2"></p>
  <a href="/keyboard">Audio Keyboard</a>
  <a href="/chapter/one" class="chaptOneLink">Chapter 1</a>
  <a href="/chapter/two" class="chaptTwoLink">Chapter 2</a>
  <a href="/chapter/three" class="chaptThreeLink">Chapter 3</a>

  <span id="speechContents"></span>
  <span id="interimContents"></span>
</div>

<script src="js/contents.js" charset="utf-8"></script>
