<h1 class="title">Contents</h1>
<p class="introP">This page guides you to the audio keyboard & the TouchType chapters.</p>
<div class="icon"></div>
<div class="btnDiv"><a class= "keyboardLink" id="contentsAudioKeyboardButton" name="audio keyboard" href="/keyboard">Audio Keyboard</a></div>

<h2 class="contentsChapters">Chapters</h3>
<a href="/1" class="chaptOneLink chapt" name="chapter 1">1</a>
<a href="/2" class="chaptTwoLink chapt1" name="chapter 2">2</a>
<a href="/3" class="chaptThreeLink chapt" name="chapter 3">3</a>
<a href="/4" class="chaptFourLink chapt1" name="chapter 4">4</a>
<a href="/5" class="chaptFiveLink chapt" name="chapter 5">5</a>
<a href="/6" class="chaptSixLink chapt1" name="chapter 6">6</a>
<a href="/7" class="chaptSevenLink chapt" name="chapter 7">7</a>
<a href="/8" class="chaptEightLink chapt1" name="chapter 8">8</a>

<script src="js/contents.js" charset="utf-8"></script>
