
<h1 class="title">Contents</h1>
<div class="icon"></div>
<p id="contents"></p>
<p id="contents2"></p>
<a class= "keyboardLink" href="/keyboard">Audio Keyboard</a>

<h3 class="contentsChapters">Chapters</h3>
<a href="/1" class="chaptOneLink">1</a>
<a href="/2" class="chaptTwoLink">2</a>
<a href="/3" class="chaptThreeLink">3</a>
<a href="/4" class="chaptThreeLink">4</a>
<a href="/5" class="chaptThreeLink">5</a>
<a href="/6" class="chaptThreeLink">6</a>


<script src="msg.js" charset="utf-8"></script>
<script src="js/functions/clickToPause.js" charset="utf-8"></script>
<script src="js/functions/nextUrl.js" charset="utf-8"></script>
<script src="js/contents.js" charset="utf-8"></script>
