<div>
  <h1 class="title">TouchType Contents</h1>
  <p id="contents"></p>
  <p id="contents2"></p>
  <a class= "keyboardLink" href="/keyboard">Audio Keyboard</a>

  <h3>Chapters</h3>
  <a href="/1" class="chaptOneLink">1</a>
  <a href="/2" class="chaptTwoLink">2</a>
  <a href="/3" class="chaptThreeLink">3</a>
</div>

<script src="msg.js" charset="utf-8"></script>
<script src="js/contents.js" charset="utf-8"></script>
