<div id="page-wrapper">
  <p id="msg"></p>

  <a href="/chapter" id="chapterHomeLink">Enter Chapters</a>


  <%# <p id="welcome">Hi there you beautiful person! My name is Bob and welcome to this website! At Learn To Type you will learn the keys to your keyboard. Press your space bar to get started. </p>
  <p id="speech-msg">Great Job! You have just pressed your space bar. Feel your keyboard for 2 bumps and place your left index finger on the left bump. Right index finger on the right bump. And rest both your thumbs on the space bar. Now rest your other fingers on the keyboard. When you have done so, press on the key that your left index finger is resting on. This is the key with the bump on it.</p>

  <p id="f">Fantastic! You have found the 'F' key to your keyboard. Now press on the key that your right index finger is resting on.</p>

  <p id="j">Great Job! You have found the 'J' key to your keyboard.</p>

	<div class="option">
		<label for="voice">Voice</label>
		<select name="voice" id="voice"></select>
	</div>


	<button id="speak">Speak</button>%>

</div>


<script src="js/intro.js" charset="utf-8"></script>
