<div id="page-wrapper">
  <h1 class="title"></h1>
  <p id="msg"></p>
  <a href="/chapter/contents" id="chapterContentsLink">Enter Chapters</a>
</div>

<script src="js/intro.js" charset="utf-8"></script>
