<h1 class="title">TouchType</h1>
<div class="icon"></div>
<p class="msg"></p>

  <div>
    <a href="/contents" class="contentsPage">
      <span class="right"></span>
    </a>
  </div>

<script src="js/intro.js" charset="utf-8"></script>
