<h1 class="title">TouchType</h1>
<p class="introP">TouchType aims to teach typing to the visually impaired community. Turn up the volume to listen to the audio guide.</p>
<p class="introP">Up Arrow Key: Contents Page, Down Arrow Key: Menu Help</p>

<div class="icon"></div>

<div>
  <a href="/contents" class="contentsPage" name="contents page" style="display:none"></a>
</div>

<nav class="keys">
  <button class="key up" id="divContents" name="up arrow">
    &#x25B2;
  </button>
  <button class="key left" name="left arrow">
    &#x25C0;
  </button>
  <button class="key down" id="readMenu" name="down arrow">
    &#x25BC;
  </button>
  <button class="key right" name="right arrow">
    &#x25B6;
  </button>
</nav>

<script src="js/intro.js" charset="utf-8"></script>
