<div class = "div">
  <h1 class="title">TouchType</h1>
  <p class="msg"></p>

  <div>
    <a href="/contents" class="contentsPage">
      <span class="right"></span>
    </a>
  </div>

</div>

<script src="msg.js" charset="utf-8"></script>
<script src="js/functions/clickToPause.js" charset="utf-8"></script>
<script src="js/functions/nextUrl.js" charset="utf-8"></script>
<script src="js/intro.js" charset="utf-8"></script>
