<div>
  <h1 class="title"></h1>
  <p class="msg"></p>
  <a href="/contents" class="contentsPage">Contents Page</a>

</div>

<script src="msg.js" charset="utf-8"></script>
<script src="js/intro.js" charset="utf-8"></script>
