<div class="display">
   <div class="wrap" aria-live="polite" aria-atomic="true">
     <p class="keycode-display"></p>
     <p class="text-display">press any key to get the JavaScript event keycode</p>
   </div>
 </div>


 </span>


<script src="js/keyboard.js" charset="utf-8"></script>
