<h1 class="title">Audio Keyboard</h1>
<a href="/contents" class="contentsPage">Back to Contents</a>

<p class="keycodeDisplay"></p>

<script src="js/functions/audioKeyboardExit.js" charset="utf-8"></script>
<script src="js/keyboard.js" charset="utf-8"></script>
