<h1 class="title">Audio Keyboard</h1>
<a href="/contents" class="contentsPage">Back to Contents</a>
<a href="/1" class="chaptOneLink">1</a>

<p class="textDisplay"></p>
<p class="keycodeDisplay"></p>


<script src="js/keyboard.js" charset="utf-8"></script>
