<h1 class="title">Audio Keyboard</h1>
<p class="introP">Enter any key on your keyboard to hear which key it is.</p>
<div class="icon"></div>
<a href="/contents" class="contentsPage" id="keyboardContents" name="contents page">Contents</a>

<p class="keycodeDisplay"></p>

<script src="js/functions/audioKeyboardExit.js" charset="utf-8"></script>
<script src="js/keyboard.js" charset="utf-8"></script>
