<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TABChecker</title>
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Coming+Soon|Fredericka+the+Great|Nunito" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <script src="js/script.js" charset="utf-8"></script>
  </head>
  <body>

      <header>
        <h1>VGAME</h1>
      </header>

      <section>
        
        <%-body%>
      </section>
      <footer>
        <p >Created by Smiles and Cocktails</p>
      </footer>
      <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
