<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TouchType</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Yantramanav:900" rel="stylesheet">

  </head>
  <body>
    <div class="bodyDiv">
        <%-body%>

        <script src="msg.js" charset="utf-8"></script>
        <script src="js/functions/showIcon.js" charset="utf-8"></script>
        <script src="js/functions/hideIcon.js" charset="utf-8"></script>
        <script src="js/functions/afterAction.js" charset="utf-8"></script>
        <script src="js/functions/clickToPause.js" charset="utf-8"></script>
        <script src="js/functions/nextUrl.js" charset="utf-8"></script>
        <script src="js/functions/pageReload.js" charset="utf-8"></script>
        <script src="//code.responsivevoice.org/responsivevoice.js"></script>

    </div>
  </body>
</html>
