html {
  background-color: white;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  height: 100vh;
  width: 100%;

}

.bodyDiv {
  font-size: 150%;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 2px;
  height: 100%vh;
  max-width: 100%;
  left: 0;
  overflow: hidden;
}

a {
  color: #001A4E;
}

.title {
  font-size: 400%;
  margin-top: 3%;
  margin-bottom: 2%;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 2px;
}

p {
  line-height: 130%;
  font-size: 110%;
}

.introP {
  font-size: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.keycodeDisplay {
  margin-top: 5%;
  -webkit-text-stroke: 4px;
  font-size: 800%;
  font-family: 'Yantramanav', sans-serif;
  color: #D91E36;
}

.newLetter {
  margin-top: 2%;
  -webkit-text-stroke: 4px;
  font-size: 1000%;
  font-family: 'Yantramanav', sans-serif;
  color: #D91E36;
}

.icon {
  margin-top: 3%;
  margin-bottom: 5%;
}

.keys {
  display: flex;
  flex-flow: row wrap;
  -webkit-text-stroke: 3px;
  height: 300px;
  justify-content: center;
}
.keys:before, .keys:after {
  display: block;
  content: " ";
  flex: 0 1 30%;
  order: 0;
  width: 30%;
}
.keys:after {
  order: 2;
}

.key {
  flex: 0 1 30%;
  outline: 0;
  background: none;
  min-width: 24px;
  min-height: 24px;
  height: 47%;
/*   padding-left: 30%; */
  color: #DF2935;
  font-size: 350%;
  text-align: center;
  text-shadow: 1px 1px 0px #666;
  border-radius: 10px;
}
.key:hover {
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, .61);
  transition: box-shadow 0.2s ease-in;
}
.key:active {
  transform: scale(.95);
  transition: transform .1s ease-in;
}

.up, .down {
  flex: 0 0 30%;
  order: 1;
  margin-left: auto;
  margin-right: auto;
}

.left, .right {
  margin-top: 1px;
  order: 3;
}
.down {
  margin-top: 1px;
  order: 4;
}
.right {
  order: 5;
}

#contentsAudioKeyboardButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  -webkit-text-stroke: 2px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 60px;
  background: #DF2935;
  margin-bottom: 3%;
  margin-top: 8%;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
}

.contentsPage {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  -webkit-text-stroke: 2px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 60px;
  background: #3E104A;
  margin-bottom: 3%;
  margin-top: 8%;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
}

.btnDiv {
  margin-top: 5%;
  margin-bottom: 5%;
}

.chapt {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  -webkit-text-stroke: 3px;
  border-radius: 50px;
  color: white;
  font-size: 60px;
  background: #001A4E;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.chapt1 {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  -webkit-text-stroke: 3px #001A4E;
  border-radius: 50px;
  color: #001A4E;
  font-size: 60px;
  background: white;
  border-style: solid;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.contentsChapters {
  font-size: 200%;
  margin-bottom: 5%;
}

.chapterMenuDiv {
  margin-top: 10%;
  margin-bottom: 10%;
}
