<div>
  <h1 class="title">Chapter 5</h1>

  <a href="/contents" class="contentsPage">Back to Contents</a>
  <a href="/6" class="chaptSixLink">Go to Chapter 6</a>
  <h3>Instructions</h3>
  <p class=instructions>Now press on the <span class="newLetter"></span> key.</p>
  <p class="letter"></p>
</div>

<script src="msg.js" charset="utf-8"></script>
<script src="js/functions/clickToPause.js" charset="utf-8"></script>
<script src="js/functions/nextUrl.js" charset="utf-8"></script>
<script src="js/chapt/five.js" charset="utf-8"></script>
