<h1 class="title">Chapter 4</h1>
<div class="icon"></div>
<div class="chapterMenuDiv">
  <a href="/contents" class="contentsPage">Contents</a>
  <a href="/5" class="chaptFiveLink chapt">5</a>
</div>

<h3 class="introP">Find the following key.</p>
<p class="newLetter"></p>

<script src="js/chapt/four.js" charset="utf-8"></script>
