<div>
  <h1 class="title"></h1>

  <a href="/contents" class="contentsPage">Back to Contents</a>
  <a href="/2" class="chaptTwoLink">Go to Chapter 2</a>
  <h3>Instructions</h3>
  <p class=instructions>Now press on the <span class="newLetter"></span> key.</p>
  <p class="letter"></p>
</div>

<script src="msg.js" charset="utf-8"></script>
<script src="js/functions/clickToPause.js" charset="utf-8"></script>
<script src="js/functions/nextUrl.js" charset="utf-8"></script>
<script src="js/chapt/one.js" charset="utf-8"></script>
